#wrapper {
	width: 1000px;
	margin: 0px auto;
	border: 1px solid;
	background-color: #f5f6fc;
}
#header {
	width: 1000px;
	margin: 0px auto;
	height: 50px; 
	background-color: #e7e8ec;
	color: red;
	font-size: 30px;
	
}
#bodycontent {
	width: 725px;
	float: right;
	padding: 10px;
	background-color: #fdfdff;
}
#leftsidebar {
	width: 230px;
	float: left;	
	padding: 10px;
	border: 1px solid;
	background-color: #fdfdff;
}
#footer{
	width: 1000px;
	margin: 0px auto;
	background-color: #e7e8ec;
	color: red;
	font-size: 15px;
}
#oculto {
	display: none;
}
.clear{
	clear: both;
}
